.navbar{
    background-color: #2c2d4e;
}

.nav-link{
    font-size: 25px;
}

html{
    background-color: #f2ead7;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  background-color: #f2ead7;
  color: black;
  text-align: left;
}
h1.lottery{
  font-size: 50px;
  background-color:#c5ab6f ;
  padding: 40px;
	border: 0px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
}
#count-down{
  font-size: 30px;
}
#expired-text{
  font-size: 30px;
}

/* Countdown page */  
.middle {
    background-color: #f2ead7;
    top: 50%;
    left: 50%;
    text-align: center;
}
  
hr {
    background-color: #f2ead7;
    width: 40%;
}
.count-down-container{
  display: flex;
  justify-content: center;
  margin-top: 150px;

}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
}
h1.quiz-title{
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #c5ab6f;
    font-weight: 300;
    text-align: center;
    color: rgb(255, 255, 255);
}
.question{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 20px ;
}
.answers {
  margin-bottom: 20px;
  margin-left: 10%;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
    font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
    margin-bottom: 20px;
    margin: 0px;
}
button:hover{
	background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  display: flex;
  margin: auto;
  height: 300px;
  width: 50%;
  top: 50%;
  background-color: white;   
}

.button-container{
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 70px;
    width: 300px;
    top: 50%;
  }

#results{
    position: absolute;
    font-size: 30px;
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
  h1.quiz-title{
    font-size: 26px;
    width: 70%;
  }
  .quiz-container{
    width: 70%;
    height: 800;
  }
  .question{
    font-size: 18px;
  }
}
  
h1.category{
  margin: auto;
  width: 80%;
  padding: 30px;
  background-color: #c5ab6f;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.button {
  border: none;
  color: white;
  padding: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-fruit {
  background-color: white; 
  color: black; 
  border: 2px solid #f2ead7;
}

.button-fruit:hover {
  background-color: #c5ab6f;
  color: white;
}

.button-dessert {
  background-color: white; 
  color: black; 
  border: 2px solid #f2ead7;
}

.button-dessert:hover {
  background-color: #c5ab6f;
  color: white;
}

.category-container{
  position: relative;
  display: flex;
  margin: auto;
  height: 150px;
  width: 80%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0);
} 

.button-coming-soon {
  background-color: white; 
  color: black; 
  border: 2px solid #f2ead7;
}

.button-coming-soon:hover {
  background-color: #c5ab6f;
  color: white;
}

.card{

  justify-content: center;
  margin: 50px;
}

#card-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-img-top{
  border-style: solid;
  border-width: thin;
  border-color: #2c2d4e;
}

.about{
  font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #bdd8c8c0;
  width: 80%;
  margin: auto;
  padding: 40px;
	border: 0px;
  border-radius: 40px;
}
#table{
background-image: linear-gradient(#5a270a,#371400);
display: flex;
justify-content: center;  
}

#sundae-trophy{
display: flex;
width: 350px;
height: auto;
padding: 2%; 
border: 0;
}
@media only screen and (max-width: 600px) {
  #sundae-trophy{
    display: flex;
    width: 100px;
    height: auto;
    padding: 2%; 
    border: 0;
    }
}
#fruit-trophy{
  display: flex;
  width: 400px;
  height: 400px;
  padding: 2%; 
  border: 0;
  }
  @media only screen and (max-width: 600px) {
    #fruit-trophy{
      display: flex;
      width: 150px;
      height: 150px;
      padding: 2%; 
      border: 0;
      }
  }